# <span style="color:#e2c382;">Retrieve Variables</span>

In [1]:
%store -r abdict1
%store -r abdict2
%store -r dict1
%store -r dict2
%store -r dict3
%store -r a
%store -r alist
%store -r alist2
%store -r alien
%store -r blist
%store -r countlist
%store -r friends
%store -r list1
%store -r list1_copy
%store -r list2
%store -r list3
%store -r list_names
%store -r set1
%store -r set2
%store -r message1
%store -r string1
%store -r string2
%store -r string2
%store -r string4
%store -r string5
%store -r string6
%store -r tuple1
%store

Stored variables and their in-db values:
a                      -> [1, 2, 34, 4, 5, 2, 1, 3, 1, 2, 6, 7, 7, 8, 3, 8,
abdict1                -> {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
abdict2                -> {'d': 4, 'e': 5}
alien                  -> {'color': 'green', 'points': 5, 'speed': 'slow'}
alist                  -> ['a', 'b', 'c', 'd', 'e']
alist2                 -> [1, 2, 34, 4, 5, 2, 1, 3, 1, 2, 6, 7, 7, 8, 3, 8,
blist                  -> [1, 2, 3, 4, 5]
countlist              -> ['1', '3', '4', '5', '6', '1', '1', '2', '2', '3',
dict1                  -> {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict2                  -> {8: 'g', 6: 'f', 5: 'e', 4: 'd', 2: 'c', 1: 'b', 0
dict3                  -> {'even_nums': [2, 4, 6, 8, 10], 'odd_nums': [1, 3,
friends                -> ['phil', 'sarah']
list1                  -> [1, 2, 3, 5, 6, 7, 9]
list1_copy             -> [8, 6, 5, 4, 2, 1, 0]
list2                  -> []
list3                  -> ['g', 'f', 'e', 'd', 'c', 'b', 'a']
list_names             -> [{'first_name': 'Jayden', 'last_name': 'LI', 'titl
message1               -> 'Hello World , ha,ha,ha,ha ha ha!'
set1                   -> {1, 2, 3}
set2                   -> {3, 4, 5}
string1                -> 'abcdefg'
string2                -> 'Hello World '
string4                -> 'ha ha ha ha ha ha'
string5                -> 'ha,ha,ha,ha ha ha'
string6                -> ''
tuple1                 -> (10, 20)

# <span style="color:#e2c382;">IF Statement</span>

In [2]:
# Example
player1_score = 1
player2_score = 1

if player1_score == player2_score:
    print('We have a tie!')
elif player1_score > player2_score:
    print("player one won!")
else:
    print("player two won!")

We have a tie!

### <span style="color:#E2C382;">*# match-case statement*</span>

In [3]:
# ONLY FOR Python over 3.10
# Combining cases in Python match-case statements (Python 3.10)
'''response_code = 404

match response_code:
    case 400:
        print("Server can't understand.")
    case 401 | 403:
        print("Server refused to send back.")
    case 404:
        print("Server can't find.")'''

# Returns:
# Server can't find.

'response_code = 404\n\nmatch response_code:\n    case 400:\n        print("Server can\'t understand.")\n    case 401 | 403:\n        print("Server refused to send back.")\n    case 404:\n        print("Server can\'t find.")'

# <span style="color:#e2c382;">LOOPs</span>

In [4]:
# While loop:

number = 0
while number < 10:
    number += 1
    print(number)

1
2
3
4
5
6
7
8
9
10

In [5]:
# For loop to create even numbers:

numbers = [1,2,3,4,5]

even_numbers = [num*2 for num in numbers]
print(even_numbers)

# Simplified version - using list comprehension
new_numbers = [number*2 for number in numbers]
print(new_numbers)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

# <span style="color:#e2c382;">Functions</span>

### <span style="color:#E2C382;">*# def*</span>

In [6]:
# Basic structure
def greeting():
    print('Welcome!')

greeting()

Welcome!

In [7]:
# Calcuation
def get_total_price (list_price, tax_rate):
    total_price = list_price * (1 + tax_rate)
    return total_price
'''
print(
    get_total_price(
        float(input(
            ("What is the list price?"))),
        float(input(
            ("What is the tax rate?"))),
    )
)
'''

'\nprint(\n    get_total_price(\n        float(input(\n            ("What is the list price?"))),\n        float(input(\n            ("What is the tax rate?"))),\n    )\n)\n'

In [8]:
# Calculation

def ad_num(num1,num2):
    return (num1 + num2)

'''
def ad_num (num1, num2):
    num_sum = num1 + num2
    return num_sum
'''

'''
print(ad_num(
    float(input("Enter a number: ")),
    float(input("Enter a second number: ")),
    )
)
'''

'\nprint(ad_num(\n    float(input("Enter a number: ")),\n    float(input("Enter a second number: ")),\n    )\n)\n'

In [9]:
# Function 'add_list' to add values in two numerical lists:
## !MUST equal in length!

'''def ad_num (num1, num2):
    num_sum = num1 + num2
    return num_sum
'''
def add_list (listx, listy):
    added_list = []
    for indx in range(len(listx)):
        added_sum = ad_num(
            listx[indx],listy[indx])
        added_list.append(added_sum)
    print(added_list)
    
add_list(list1,list1_copy)

[9, 8, 8, 9, 8, 8, 9]

In [1]:
# Yield to avoid stoppin gby return:

In [10]:
# Assign DEFAULT value to a function (*but can be overrode).

def ad_num(x,y=30, user = 'the Current User'):
    return str(x+y) + ' added by ' + user

print (ad_num(10))

print (ad_num(10,40,'Jayden')) # overrold default

40 added by the Current User
50 added by Jayden

### <span style="color:#E2C382;">*# lambda*</span>

In [11]:
# Lambda functions are anonymous functions that are defined without a name.
## lambda + argument : expression (only one)
### Better use it as an anonymous function inside another function

double_num = lambda x: x * 2
print(double_num(5))

# x is the argument, x * 2 is the expression

10