# <span style="color:#e2c382;">DATA TYPE</span>

### <span style="color:#e2c382;">*# strings*</span>

In [10]:
# ',' should not be put in numbers:

sales2 = 1,000,000
sales1 = 1000

print(sales2,sales1)

(1, 0, 0) 1000

In [11]:
# Cancel default staring a new line with print()s

print('Toppr', end=' ')
print('is awesome')

Toppr is awesome

In [1]:
# Use enumerate() to outline index and elements:

string1 = 'abcdefg'
dict(enumerate(string1))

{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f', 6: 'g'}

In [2]:
for i in string1:
    print(i)

a
b
c
d
e
f
g

In [13]:
string2 = 'Hello World '
list(enumerate(string2))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'W'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd'),
 (11, ' ')]

In [14]:
#properies, functions, methods

#Capitalize
string2.capitalize()

#Upper case
string2.upper()

#Strip blanks
string2.strip()

'Hello World'

In [15]:
# Count occurance from a position:
string2.count('l', 3)

2

In [16]:
# extract element from string

response_code = 600
int(str(response_code)[1])

0

In [6]:
# Split a string into list, then extract:
dateAndTime = '2022-07-30T00:00'
print(dateAndTime)
print(dateAndTime.split('T'))
print(dateAndTime.split('T')[0])

2022-07-30T00:00
['2022-07-30', '00:00']
2022-07-30

In [17]:
# Word count - split() by space
string4 = 'ha ha ha ha ha ha'
print(string4.split())
print(len(string4.split()))

['ha', 'ha', 'ha', 'ha', 'ha', 'ha']
6

In [18]:
# Word count - split() by comma
string5 = 'ha,ha,ha,ha ha ha'
print(string5.split(','))
print(len(string5.split(',')))

['ha', 'ha', 'ha', 'ha ha ha']
4

In [19]:
# String concatenation
message1 = string2 + ', ' + string5 + '!'
print(message1)

Hello World , ha,ha,ha,ha ha ha!

In [20]:
# Find str location
string2.find('Wo')

# Index str location
string2.index('Wo')

6

In [21]:
# Empty value is str
string6 = ''
type(string6)
print(string6)

In [22]:
# Convert a Variable name to value:

var = 710
variable_name = [k for k, v in locals().items() if v == 710][0] 
print("Your variable name is " + variable_name)

Your variable name is var

### <span style="color:#e2c382;">*# list*</span>

In [23]:
# Create list
list1 = [1,2,3,4,5]
list2 = list()
print(type(list1))
print(list1)

<class 'list'>
[1, 2, 3, 4, 5]

In [24]:
# Create list contents
## Numeric list can be created using 'rang()'
list3 = list('abcdefg')
print(list3)
list1 = list(range(1,7))
print(list1)
list1 = list(range(7))
print(list1)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]

In [25]:
# Adding a value to the list

list1.append(8)
print(list1)

[0, 1, 2, 3, 4, 5, 6, 8]

In [26]:
# Delete a value in the list
list1.pop(3)
print(list1)

[0, 1, 2, 4, 5, 6, 8]

In [27]:
# Copy a list
list1_copy = list1.copy()
print(list1_copy)

[0, 1, 2, 4, 5, 6, 8]

In [28]:
# Extend a list
list1_copy.extend(list3)
print(list1_copy)

[0, 1, 2, 4, 5, 6, 8, 'a', 'b', 'c', 'd', 'e', 'f', 'g']

In [29]:
# Change all numbers in a list:

list_length = len(list1)
for i in range(list_length):
    list1[i] = list1[i] + 1
print(list1)

[1, 2, 3, 5, 6, 7, 9]

In [30]:
# Sort a list
list3.sort(reverse=True)
print(list3)

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [31]:
# Reverse a list
list1_copy.reverse()
print(list1_copy)

['g', 'f', 'e', 'd', 'c', 'b', 'a', 8, 6, 5, 4, 2, 1, 0]

In [32]:
# Delete ranges in a list

del list1_copy[0:7]
print(list1_copy)

[8, 6, 5, 4, 2, 1, 0]

In [33]:
# Retrieve every x values:
list1[::2]

[1, 3, 6, 9]

In [34]:
# Retrieve begins from/ends by
list1[2:-1]

[3, 5, 6, 7]

In [35]:
# Use enumerate to extract location and element:
list(enumerate(list3))

[(0, 'g'), (1, 'f'), (2, 'e'), (3, 'd'), (4, 'c'), (5, 'b'), (6, 'a')]

In [36]:
# check if a number exists in a list using for loop:

## 'RETURN' value will STOP LOOPING in the function
### So 'Number Not Found' will not show if i valid.

def mystery_function (list_to_check, value):
    for i in range(len(list_to_check)):
        if(list_to_check[i]==value):
            return i                # if returned will stop here
        return 'Number Not Found'

mystery_function(list1,50)

'Number Not Found'

In [37]:
# Find the location using enumerate function in loop:

def mystery_function (list_to_check, value):
    for i,j in enumerate(list_to_check):
        if(list_to_check[i]==value):
            return i
        return 'Number Not Found'

In [38]:
# Count characters excluding spaces in a string, find max/min

countlist = list('13 4 5 6 1 12230')
while " " in countlist:
    countlist.remove(" ") # remove empty emlements
print(countlist)

print(len(countlist)) # count characters 
print(max(countlist)) # find the max
print(min(countlist)) # find the min

['1', '3', '4', '5', '6', '1', '1', '2', '2', '3', '0']
11
6
0

In [39]:
# Find the longest value in a list of strings:
## Multipl methods:

dad_joke_list = ['Why do ducks make great detectives? They always quack the case.', 'I gave all my dead batteries away today, free of charge.', 'How do you steal a coat? You jacket.', 'My friend said to me: "What rhymes with orange" I said: "no it doesn\'t"', 'I have kleptomania, but when it gets bad, I take something for it.', 'What do you call a cow with no legs? Ground beef.', 'I made a belt out of watches once... It was a waist of time.', 'Where do hamburgers go to dance? The meat-ball.', 'This furniture store keeps emailing me, all I wanted was one night stand!', 'A red and a blue ship have just collided in the Caribbean. Apparently the survivors are marooned.']

longest = max(dad_joke_list,key=len)
print(longest)


# sorted(dad_joke_list, key=lambda x: len(x))[-1]


# joke_len = []
# for joke in dad_joke_list:
#     joke_len.append(len(joke))
# location = (joke_len.index(max(joke_len)))
# print(dad_joke_list[location],max(joke_len))


# joke_lenth1 = 0
# for joke in joke_list:
#     joke_lenth2 = len(joke)
#     if joke_lenth2 >= joke_lenth1:
#         joke_lenth1 = joke_lenth2
#         longest_joke = joke
# print(longest_joke)

A red and a blue ship have just collided in the Caribbean. Apparently the survivors are marooned.

### <span style="color:#E2C382;">*# tuple*</span>

In [40]:
# Tuples are immutable data types
tuple1 = ()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [41]:
# However, can be changed by re-defining it
tuple1 = (10,20)
print(tuple1)

(10, 20)

In [42]:
# Call value from tuple
tuple1[1]

20

### <span style="color:#E2C382;">*# set*</span>

In [43]:
# 1. Convert list into set using 'set(list)' to remove duplicates
# 2. and then converting it back to a list 'list(set(list))', and then sorting it '.sort()'.

alist2 = [1, 2, 34, 4, 5, 2, 1, 3, 1, 2, 6, 7, 7, 8, 3, 8, 9, 6, 9, 4, 9]
print(f"Here a list: {alist2}")

xlist = list(set(alist2))
print(f"Converted to SET: {xlist}")

xlist.sort(reverse = True) # x = sorted(list(set(a)),reverse=True) is also possible
print(f"Reversed order: {xlist}")

'''
Here we are taking advantage of 2 basic features of a Set, namely,
a. Elements of a set are unordered.
b. A set cannot have duplicate elements.
'''

Here a list: [1, 2, 34, 4, 5, 2, 1, 3, 1, 2, 6, 7, 7, 8, 3, 8, 9, 6, 9, 4, 9]
Converted to SET: [1, 2, 34, 4, 5, 3, 6, 7, 8, 9]
Reversed order: [34, 9, 8, 7, 6, 5, 4, 3, 2, 1]

'\nHere we are taking advantage of 2 basic features of a Set, namely,\na. Elements of a set are unordered.\nb. A set cannot have duplicate elements.\n'

In [44]:
# SET data type, stores only unique values. 
set1 = {1,2,2,2,3}
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3}

In [45]:
# Cross-set functions
set2 = {3,2,4,5}
set1.intersection(set2)

{2, 3}

In [46]:
# Delete a set member:

set2.remove(2)

### <span style="color:#e2c382;">*# dictionary*</span>

In [47]:
# Create a dictionary
dict1 = {'a':1,'b':2,'c':3,'d':4}
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [48]:
# Create a dictionary by joining two lists
dict2 = dict(zip(list1_copy,list3))
print(dict2)

{8: 'g', 6: 'f', 5: 'e', 4: 'd', 2: 'c', 1: 'b', 0: 'a'}

In [49]:
# retrieve all VALUES from a dictionary
dict2.values()

dict_values(['g', 'f', 'e', 'd', 'c', 'b', 'a'])

In [50]:
# retrieve items - Key, Value
dict2.items()

dict_items([(8, 'g'), (6, 'f'), (5, 'e'), (4, 'd'), (2, 'c'), (1, 'b'), (0, 'a')])

In [52]:
# find value with a key: .get('key', 'alt phrase if not found')
# find key with a value: .items(), example:

## Simple form (list comprhension):
keys = [k for k, v in dict2.items() if v == 'g']
print(keys)


## Create a function
def get_key(val):
    for key, value in dict2.items():
         if val == value:
             return key
 
    return "There is no such Key"
   
print(get_key('g'))
print(get_key('f'))

[8]
8
6

In [ ]:
# lists in dictionary

dict3 = {
    'even_nums':[2,4,6,8,10],
    'odd_nums':[1,3,5,7,9],
    }
dict3['even_nums']

[2, 4, 6, 8, 10]

In [ ]:
# Retrieve key and value from a list in dictionary:

dict3['odd_nums'][3]

7

In [ ]:
# Order the KEYS - sorted (dict)

for letter in sorted(dict1):
    print(letter.capitalize())

# Equal to sorted(dict1.keys())

A
B
C
D

In [54]:
# Sort/order the dict by VALUES: sorted()lambda method:
## Created a list then convert back to dict

sorted_list_dict1 = sorted(dict1.items(), key = lambda x : x[1], reverse= True)
sorted_dict1 = dict(sorted_list_dict1)
sorted_dict1

{'d': 4, 'c': 3, 'b': 2, 'a': 1}

In [58]:
# Sort/order the dict by KEYS: sorted()lambda method:
## Created a list then convert back to dict

sorted_list_dict1 = sorted(dict1.items(), key = lambda x : x[0], reverse= True)
sorted_dict1 = dict(sorted_list_dict1)
sorted_dict1

{'d': 4, 'c': 3, 'b': 2, 'a': 1}

In [ ]:
# Deal with error/non-existing key - .get()

print(dict3.get('num','Value does not exist.'))

Value does not exist.

In [ ]:
# Index retrival summary
print(list1[1])
print(set1)
print(tuple1[1])
print(dict3['even_nums'][1])

2
{1, 2, 3}
20
4

# <span style="color:#e2c382;">LISTs & DICTs</span>

#### <span style="color:#E2C382;">*## looping*</span>

In [ ]:
print(dict1.items())

# retrieve ALL values from dict - .items()
## \n is a str

for key, value in dict1.items():
    print(f"\nkey:{key}")
    print(f"value:{value}")

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

key:a
value:1

key:b
value:2

key:c
value:3

key:d
value:4

In [ ]:
# 'key' and 'value' can be renamed or printed in f-function
## ',' can be used to put a space between 'str' and variables

sal_info={'Austin':911985, 'Dallas': 89999, 'San Jose': 100989, 'Atlanta': 89286,'Portland':101367}


print ("Key-Value pair")
for k,v in sal_info.items():
	print ("the Key is", k, "the Value is", v)

Key-Value pair
the Key is Austin the Value is 911985
the Key is Dallas the Value is 89999
the Key is San Jose the Value is 100989
the Key is Atlanta the Value is 89286
the Key is Portland the Value is 101367

In [ ]:
# Retrieve only KEYs - .keys() method

for value in dict1.keys():
    print(value.capitalize())

# EQUAL To (key is default)

for value in dict1:
    print(value.capitalize())

A
B
C
D
A
B
C
D

In [ ]:
# Retrieve ALL VALUES, not keys

print(dict2.values())

dict_values(['g', 'f', 'e', 'd', 'c', 'b', 'a'])

In [ ]:
# loop through all values
sal_info = {'Austtin': 911985, 'Dallas':89999, 'San Jose' : 100989}

for location in sal_info:
    print(sal_info[location]) # list all values
for location in sal_info:
    print(location) # list all keys

911985
89999
100989
Austtin
Dallas
San Jose

In [ ]:
# Change values within a dictionary based on other values

aliendict = dict(x_position = 0,y_position = 25,speed = 'slow')

if aliendict['speed'] == 'slow':
    x_increment = 1
elif aliendict['speed'] == 'medium':
    x_increment = 2
else:
    x_increment = 3

aliendict['x_position'] = aliendict['x_position'] + x_increment

print(f"The new alient position is: {aliendict['x_position'], aliendict['y_position']}.")

The new alient position is: (1, 25).

In [ ]:
# Pick out KEYs and their VALUES (linking to a LIST):

favorite_languages = {
'jen': 'python',
'sarah': 'c',
'edward': 'ruby',
'phil': 'python',
}

friends = ['phil', 'sarah']

for name in favorite_languages:
    print(f"Hi, {name.title()}!")

    if name in friends: # Whether the name is in the list
        language = favorite_languages[name].title() # define language
        print(f"I see you love {language.title()}. Could you tell me why?")
    else:
        print("What language do you like?")
    print("\n")

Hi, Jen!
What language do you like?


Hi, Sarah!
I see you love C. Could you tell me why?


Hi, Edward!
What language do you like?


Hi, Phil!
I see you love Python. Could you tell me why?

#### <span style="color:#E2C382;">*## Dict from/to List*</span>

In [ ]:
# From Dict to List using .items()

favorite_languages_list = list(favorite_languages.items())
favorite_languages_list

[('jen', 'python'), ('sarah', 'c'), ('edward', 'ruby'), ('phil', 'python')]

In [ ]:
# From list to dict using dict():

favorite_languages_dict = dict(favorite_languages_list)
favorite_languages_dict

{'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python'}

#### <span style="color:#E2C382;">*## Dictionary in List*</span>

In [ ]:
# Def Function to retrieve information from dicts in a list

list_names = [dict(
    first_name = 'Jayden', 
    last_name = 'LI', 
    title = 'GA student',
    gender = 'M',
    location = 'Sydney'),
    dict(first_name = 'Poli', 
    last_name = 'Moraes', 
    title = 'GA student',
    gender = 'F',
    location = 'Sydney')]



def name_function (list):
    for dicts in list:
        if dicts['gender'] == 'M':
            he_or_she = 'he'
        elif dicts['gender'] == 'F':
            he_or_she = 'she'
        print (f"This is {dicts['first_name']} {dicts['last_name']}, {he_or_she} is a {dicts['title']}!")

name_function(list_names)

This is Jayden LI, he is a GA student!
This is Poli Moraes, she is a GA student!

In [ ]:
# find specific kind of key/value: creating functions
## find value from a key: .get('key', 'alt phrase if not found')
## find key from a value: .items(), example:

In [ ]:
# Format method (in Print()) to retrieve information from a list of dictionaries:
## {0,x}width counts from the end of previous entry.

width = '{0:10}'

for student in sorted(list_names,key = lambda x: x.get('last_name'),reverse=True):
        print(width.format(student['first_name']), width.format(student['last_name']),
      width.format(student['title']),width.format(student['gender'],width.format(student['location'])))

Poli       Moraes     GA student F
Jayden     LI         GA student M

In [ ]:
# FULL example: Format Method to extract output from dictionaries in list:

customers = [
{'id':'Cust-001', 'Cust_name':'Joe', 'order':'ChocCake', 'phone':'123456'},
{'id':'Cust-002', 'Cust_name':'Pat', 'order':'CupCakes', 'phone':'Nil'},
{'id':'Cust-003', 'Cust_name':'Jill', 'order':'Scones', 'phone':'546789'},
{'id':'Cust-004', 'Cust_name':'Jack',  'order':'Bagels','phone':'456789'},
]

## 1. print heading row using format function:
### !! free to define a length, counted from end of previous item.
width = '{0:10}'
heading = {"Cust-id": "001", "Name":"Joe", "order":"Cake", "Phone": "123456"}
for head in heading: 
        print(width.format(head), end=' ')

## 2 define a function to extract any designated key (phone here) from each dictionary, add to 'key = function,'
### !! this is equal to unnamed function = lambda dict: dict.get('phone')
def ele_sort (dict):
    return dict.get('phone') 

## 3 here use the simpler lambda function after 'key =':
### !! here the 'key =' is a thing in sorted() function, not the key in dictionary.
customer_phones = sorted(customers, key = lambda dict: dict.get('phone','N/A'))

## 4 choose to check the sorted list(with dictionaries in it)
## print(customer_phones)

## 5 print the out using format function
### !! 'customer_phones' can be replaced by ##3 in one line. 
print('')
for customer in customer_phones:
    print(width.format(customer['id']), width.format(customer['Cust_name']),
      width.format(customer['order']),width.format(customer['phone']))

Cust-id    Name       order      Phone
Cust-001   Joe        ChocCake   123456
Cust-004   Jack       Bagels     456789
Cust-003   Jill       Scones     546789
Cust-002   Pat        CupCakes   Nil

In [ ]:
# Alien game - create 30 dicts, show first five:

aliens = []

for alien_number in range (30): # how many times the loop repeats
    new_alien = {'color':'green', 'points':5, 'speed':'slow'} # define element in the list with a dict.
    aliens.append(new_alien)

for alien in aliens[:5]:
    print(alien)
print("...")
print(f"The total number of aliens is {len(aliens)}")

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
The total number of aliens is 30

In [ ]:
# make some changes to the dicts within the list:

for alien in aliens[:3]:
    if alien['color'] == 'green':
        alien['color'] = 'yellow' # change all values for the first 3 elements
        alien['speed'] = 'medium'
        alien['points'] = 10

for alien in aliens[:5]:
    print(alien)
print("...")

{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
...

#### <span style="color:#E2C382;">*## List in Dictionary*</span>

In [ ]:
# Pizza order

pizza = {
    'crust':'thick',
    'toppings':['mushrooms','extra cheese']
}

print(f"You ordered a {pizza['crust']}-crust pizza with following toppings:")
for topping in pizza['toppings']: # print out elements in a list
    print("\t" + topping)

You ordered a thick-crust pizza with following toppings:
	mushrooms
	extra cheese

#### <span style="color:#E2C382;">*## Lists to Dicitonary*</span>

In [ ]:
# Convert lists to dictionary

alist = list('abcde')
blist = [1,2,3,4,5]
abdict1 = {}

## Method 1 'for' loop

indx = 0
for k in alist:
    v = blist[indx]
    abdict1[k] = v
    indx += 1
print(abdict1)

## Method 2 - Dictionary comprehension
### range is default to begin from 0

abdict1 = {alist[indx]:blist[indx] for indx in range(len(alist))}

print(abdict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

#### <span style="color:#E2C382;">*## Dictionary to Dictionary*</span>

In [ ]:
# Filtering values - Dictionary Comprehension

abdict2 = {k:v for k,v in abdict1.items() if v >3} 

print (abdict2)

{'d': 4, 'e': 5}

In [ ]:
# Example: 1.9 - Python Librarian

authors = {
    "Arundhati Roy": {
        "genre": "literary fiction",
        "books": [
            "The God of Small Things",
            "The Ministry of Utmost Happiness"
        ],
        "active": True
    },

    "Brandon Sanderson": {
        "genre": "fantasy",
        "books": [
            "The Way of Kings",
            "Words of Radiance",
            "Oathbringer"
        ],
        "active": True,
        "phone": {
            "home": "(281) 330-8004",
            "work": "(877) CASH-NOW"
        }
    },
    
    "Kobo Abe": {
        "genre": "absurdist fiction",
        "books": [
            "The Woman in the Dunes",
            "The Face of Another"
        ],
        "active": False
    },
}


authors['Arundhati Roy']['books'][0]

authors['Kobo Abe']['active']

False

#### <span style="color:#E2C382;">*## Combine Lists/Dicts*</span>

In [ ]:
# Methods: zip, + , extend., append.

'''

combined_list1 = list(zip(numbers,animals))

combined_dict2 = dict(zip(numbers,animals)) 

combined_list2 = animals + numbers

animals.extend(numbers)

animals.append(numbers)

'''

'\n\ncombined_list1 = list(zip(numbers,animals))\n\ncombined_dict2 = dict(zip(numbers,animals)) \n\ncombined_list2 = animals + numbers\n\nanimals.extend(numbers)\n\nanimals.append(numbers)\n\n'

#### <span style="color:#E2C382;">*## File to Dictionary*</span>

In [ ]:
# # Import csv. file to dictionary - walk through code.

'''
with open('treeorderssubsetnodupes.csv',mode='r') as infile:
    reader = csv.reader(infile)
    mydict = {}

    for now in reader:
        key = row[0]
        mydict[key] = row[1]
'''

"\nwith open('treeorderssubsetnodupes.csv',mode='r') as infile:\n    reader = csv.reader(infile)\n    mydict = {}\n\n    for now in reader:\n        key = row[0]\n        mydict[key] = row[1]\n"

# <span style="color:#e2c382;">Store Variables</span>

In [ ]:
%store abdict1
%store abdict2
%store dict1
%store dict2
%store dict3
%store a
%store alist
%store alist2
%store alien
%store blist
%store countlist
%store friends
%store list1
%store list1_copy
%store list2
%store list3
%store list_names
%store set1
%store set2
%store message1
%store string1
%store string2
%store string2
%store string4
%store string5
%store string6
%store tuple1
%store

Stored 'abdict1' (dict)
Stored 'abdict2' (dict)
Stored 'dict1' (dict)
Stored 'dict2' (dict)
Stored 'dict3' (dict)
Stored 'a' (list)
Stored 'alist' (list)
Stored 'alist2' (list)
Stored 'alien' (dict)
Stored 'blist' (list)
Stored 'countlist' (list)
Stored 'friends' (list)
Stored 'list1' (list)
Stored 'list1_copy' (list)
Stored 'list2' (list)
Stored 'list3' (list)
Stored 'list_names' (list)
Stored 'set1' (set)
Stored 'set2' (set)
Stored 'message1' (str)
Stored 'string1' (str)
Stored 'string2' (str)
Stored 'string2' (str)
Stored 'string4' (str)
Stored 'string5' (str)
Stored 'string6' (str)
Stored 'tuple1' (tuple)
Stored variables and their in-db values:
a                      -> [1, 2, 34, 4, 5, 2, 1, 3, 1, 2, 6, 7, 7, 8, 3, 8,
abdict1                -> {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
abdict2                -> {'d': 4, 'e': 5}
alien                  -> {'color': 'green', 'points': 5, 'speed': 'slow'}
alist                  -> ['a', 'b', 'c', 'd', 'e']
alist2                 -> [1, 2, 34, 4, 5, 2, 1, 3, 1, 2, 6, 7, 7, 8, 3, 8,
blist                  -> [1, 2, 3, 4, 5]
countlist              -> ['1', '3', '4', '5', '6', '1', '1', '2', '2', '3',
dict1                  -> {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict2                  -> {8: 'g', 6: 'f', 5: 'e', 4: 'd', 2: 'c', 1: 'b', 0
dict3                  -> {'even_nums': [2, 4, 6, 8, 10], 'odd_nums': [1, 3,
friends                -> ['phil', 'sarah']
list1                  -> [1, 2, 3, 5, 6, 7, 9]
list1_copy             -> [8, 6, 5, 4, 2, 1, 0]
list2                  -> []
list3                  -> ['g', 'f', 'e', 'd', 'c', 'b', 'a']
list_names             -> [{'first_name': 'Jayden', 'last_name': 'LI', 'titl
message1               -> 'Hello World , ha,ha,ha,ha ha ha!'
set1                   -> {1, 2, 3}
set2                   -> {3, 4, 5}
string1                -> 'abcdefg'
string2                -> 'Hello World '
string4                -> 'ha ha ha ha ha ha'
string5                -> 'ha,ha,ha,ha ha ha'
string6                -> ''
tuple1                 -> (10, 20)